@model Film

<table>
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Tytul
            </td>
            <td>
                <ul>
                    <li><img src="~/Grafiki/@Model.Plakat" style="width:150px" /></li>
                    <li>
                        @Model.Rezyser
                    </li>
                    <li>
                        @Model.Opis
                    </li>
                    <li>
                        @Model.Cena
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
