@model IEnumerable<WypozyczalniaFilmow.Models.Film>
@{
    Layout = "_Layout";
 }
<div style=" display: flex; flex-direction: column;flex-wrap:wrap">
    <ul>
        @foreach (var film in Model)
        {
            <li>
                <a href="@Url.Action("Szczegoly", "Filmy", new {idFilmu = film.Id})"><img src="~/Grafiki/@film.Plakat" /></a>
            </li>
        }
    </ul>
</div>